section
    h1
        a(data-toggle="collapse",data-target="#feats") #{t('character.feats.title')}
    div#feats.collapse
        ul.list-unstyled
            li.col-xs-12(ng-repeat="feat in character.feats")
                button.btn.btn-danger.pull-right(type="button",ng-click="removeElementToList(character.feats,feat)")
                    span.glyphicon.glyphicon-minus
                div.col-xs-10
                    textarea.form-control(ng-model="feat.text")
        button.btn.btn-success(type="button",ng-click="addElementToList(character.feats)")
            span.glyphicon.glyphicon-plus