mixin hp(label)
    - var mapping = "hp."+label
    +calculableEntry(mapping)&attributes(attributes,{id:label})

mixin state(label)
    div.btn-group
        button.btn.btn-primary.switch(type="button",data-btn-checkbox,data-ng-model="character.state."+label)
            span #{t('character.state.'+label)}

+section("hp")
    +hp("current")(red-if-bloodied)
    +hp("temporary")
    +hp("max")
    div.form-group.text-info
        p.col-xs-3 #{t('character.hp.surge')}
        p.col-xs-9.text-right(data-ng-bind="calculateSurge()")
    section.form-group
        h2 #{t('character.state.title')}
        div.btn-group.btn-group-justified
            +state("blinded")
            +state("dazed")
            +state("deafened")
            +state("dominated")
        div.btn-group.btn-group-justified
            +state("dying")
            +state("helpless")
            +state("immobilized")
            +state("marked")
        div.btn-group.btn-group-justified
            +state("petrified")
            +state("prone")
            +state("restrained")
            +state("slowed")
        div.btn-group.btn-group-justified
            +state("stunned")
            +state("surprised")
            +state("unconscious")
            +state("weakened")

