mixin hp(label)
    - var mapping = "hp."+label
    +calculableEntry(mapping)&attributes(attributes,{id:label})

mixin state(label)
    div.btn-group
        button.btn.btn-primary.switch(type="button",data-btn-checkbox,data-ng-model="character.state."+label)
            span #{t('character.state.'+label)}

+section("hp")
    +hp("current")(red-if-bloodied)
    +hp("temporary")
    +hp("max")
    div.form-group
        label.col-xs-3(for="currentSurge") #{t('character.hp.surge')}
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.hp.currentSurge",name="currentSurge",id="currentSurge")
        div.col-xs-1
            span. /
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.hp.maxSurge",name="maxSurge",id="maxSurge")
        div.col-xs-2
            button.btn.btn-success(type="button",data-ng-click="useSurge()",id="useSurge")
                span.glyphicon.glyphicon-heart
    section.form-group
        h2 #{t('character.state.title')}
        div.btn-group.btn-group-justified
            +state("blinded")
            +state("dazed")
            +state("deafened")
            +state("dominated")
        div.btn-group.btn-group-justified
            +state("dying")
            +state("helpless")
            +state("immobilized")
            +state("marked")
        div.btn-group.btn-group-justified
            +state("petrified")
            +state("prone")
            +state("restrained")
            +state("slowed")
        div.btn-group.btn-group-justified
            +state("stunned")
            +state("surprised")
            +state("unconscious")
            +state("weakened")

