mixin hp(label)
    +entry("hp."+label)(type="number")

+section("hp")
    +hp("current")
    +hp("max")
    div.form-group.text-danger
        p.col-xs-3 #{t('character.hp.bloodied')}
        p.col-xs-9.text-right(data-ng-bind="calculateBloodied(character.hp.max)")
    div.form-group.text-info
        p.col-xs-3 #{t('character.hp.surge')}
        p.col-xs-9.text-right(data-ng-bind="calculateSurge(character.hp.max)")