mixin id(label)
    +entry("id."+label)(type!=attributes.type)

+section("id")(class="active")
    +id("name")
    +id("class")
    +id("race")
    +id("level")(type="number")
    +id("gender")
    +id("alignment")
    +id("diety")
    +id("paragonPath")
    +id("playerName")