section
    h1
        a(data-toggle="collapse",data-target="#initiative") #{t('character.initiative.title')}
    div#initiative.collapse
        p {{calculateHalfLevel(character.level) + calculateMod(character.dexterity)}}