mixin skill(skill,ability)
    div.form-group
        label.col-xs-3 #{t('character.skills.'+skill)}
        p.col-xs-3(data-ng-bind="calculateSkill(character,\""+ability+"\",\""+skill+"\",character.id.level)")
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.skills."+skill+".trained")
        div.col-xs-3
            input.form-control(type="number",data-ng-model="character.skills."+skill+".bonus")

+section("skills")
    div.form-group
        p.col-xs-3
        p.col-xs-3 #{t('character.value')}
        p.col-xs-3 #{t('character.skills.training')}
        p.col-xs-3 #{t('character.bonus')}
    +skill("acrobatics","dexterity")
    +skill("arcana","intelligence")
    +skill("athletics","strength")
    +skill("bluff","charisma")
    +skill("diplomacy","charisma")
    +skill("dungeoneering","wisdom")
    +skill("endurance","constitution")
    +skill("heal","wisdom")
    +skill("history","intelligence")
    +skill("insight","wisdom")
    +skill("intimidate","charisma")
    +skill("nature","wisdom")
    +skill("perception","wisdom")
    +skill("religion","intelligence")
    +skill("stealth","dexterity")
    +skill("streetwise","charisma")
    +skill("thievery","dexterity")
    +skill("alchemy","dexterity")