meta(charset="UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1")
link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
link(rel="stylesheet",href="css/rpgzone.css")
script(src="http://code.jquery.com/jquery-2.1.0.min.js")
script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js")
script(type="text/javascript",src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
script(type="text/javascript",src="js/rpgzone.js")
script(type="text/javascript",src="js/services/characterService.js")
script(type="text/javascript",src="js/controllers/characterController.js")
script(type="text/javascript",src="js/controllers/characterListController.js")
script(type="text/javascript",src="js/utils/initCharacterUtils.js")
script(type="text/javascript",src="js/utils/arrayUtils.js")
script(type="text/javascript",src="js/utils/objectUtils.js")
script(type="text/javascript",src="js/utils/calculator.js")
script(type="text/javascript",src="js/effets.js")
