doctype html
html(xmlns="http://www.w3.org/1999/xhtml",data-ng-app="rpgZone")
    head
        title #{t('home.title')}
        include head
    body.container(data-ng-controller="characterListController")
        nav.navbar.navbar-default.navbar-fixed-top
            div.container
        section.col-xs-12
            ul.list-unstyled
                li.character.col-xs-12(data-ng-repeat="character in characters")
                    div.form-group
                        label.col-xs-9
                            a(data-ng-href="perso.html?id={{ character._id }}",target="_self")
                                | {{ character.id.playerName }} ({{ character.id.name }})
                        button.btn.btn-danger.pull-right(type="button",data-ng-click="suppress( character )")
                            span.glyphicon.glyphicon-remove
        section.col-xs-12
            form(action="perso.html",method="get")
                input#createCharacter.btn.btn-primary(type="submit",value="#{t('home.button')}")