doctype html
html(xmlns="http://www.w3.org/1999/xhtml",data-ng-app="rpgZone",data-ng-controller="characterController")
    head
        title #{t('character.sheet')}
        include head
    body.container
        form#sheet(data-ng-submit="submit()",class="form-horizontal panel-group")
            include mixins/template
            include perso/id
            include perso/initiative
            include perso/movement
            include perso/ability
            include perso/hp
            include perso/defenses
            include perso/skills
            include perso/powers
            include perso/feats
            include perso/equipment
            include perso/wealth
            include perso/notes
            section.panel.btn-group.btn-group-justified
                div.btn-group
                    button.btn.btn-success(type="submit")
                        span.glyphicon.glyphicon-save
                        span.hidden-xs  #{t('character.save')}
                a.btn.btn-info(data-ng-href="/")
                    span.glyphicon.glyphicon-list
                    span.hidden-xs  #{t('character.return')}