doctype html
html(xmlns="http://www.w3.org/1999/xhtml",data-ng-app="rpgZone",data-ng-controller="CharacterController")
    head
        title #{t('character.sheet')}
        link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
        link(rel="stylesheet",href="css/rpgzone.css")
        script(src="http://code.jquery.com/jquery-2.1.0.min.js")
        script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js")
        script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js")
        script(type="text/javascript",src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
        script(type="text/javascript",src="js/rpgzone.js")
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1")
    body.container
        form#sheet(data-ng-submit="submit()",class="form-horizontal")
            include perso/id
            include perso/ability
            include perso/hp
            include perso/defenses
            include perso/skills
            include perso/powers
            include perso/feats
            include perso/equipment
            include perso/wealth
            include perso/notes
            button.btn.btn-success.pull-left(type="submit")
                span.glyphicon.glyphicon-save
                span.hidden-xs  #{t('character.save')}
        form(action="/",method="GET")
            button.btn.btn-info.pull-right(type="submit")
                span.glyphicon.glyphicon-list
                span.hidden-xs  #{t('character.return')}
