doctype html
html(xmlns="http://www.w3.org/1999/xhtml",data-ng-app="rpgZone",data-ng-controller="CharacterController")
    head
        title #{t('character.sheet')}
        include head
    body.container
        form#sheet(data-ng-submit="submit()",class="form-horizontal")
            include perso/id
            include perso/ability
            include perso/hp
            include perso/defenses
            include perso/skills
            include perso/powers
            include perso/feats
            include perso/equipment
            include perso/wealth
            include perso/notes
            button.btn.btn-success.pull-left(type="submit")
                span.glyphicon.glyphicon-save
                span.hidden-xs  #{t('character.save')}
        form(action="/",method="GET")
            button.btn.btn-info.pull-right(type="submit")
                span.glyphicon.glyphicon-list
                span.hidden-xs  #{t('character.return')}
