div.modal-header
    h3 #{t('modal.enterValue')}
div.modal-body
    form#enterValue(data-ng-submit="ok()",name="enterValue")
        input.form-control(type="number",autofocus="autofocus",data-ng-model="input.value",name="inputValue",id="inputValue",focus-me)
div.modal-footer#confirmModal
    button#validate.btn.btn-primary(ng-click="ok()") #{t('modal.ok')}
    button#invalidate.btn.btn-danger(ng-click="cancel()") #{t('modal.cancel')}